<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.OpenGW</string>
	<key>CFBundleName</key>
	<string>OpenGW</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	
	<key>DocSetDescription</key>
	<string>OpenGW-Reference</string>
	
	<key>DocSetFeedName</key>
	<string>Kobold Kit Documentation</string>
	
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DocSetPublisherIdentifier</key>
	<string>com.koboldkit.documentation</string>
	<key>DocSetPublisherName</key>
	<string>Kobold Tech</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Kobold Tech. All rights reserved.</string>
</dict>
</plist>
